@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-align: center !important;
    font-family: 'Jost', sans-serif !important;
    padding: 0;
    margin: 0;
}

div.container {
    margin: 15px;
    text-align: center;
}

.btn {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(90deg, #0072ff 0%, #00c6ff 100%);
    transition: .5s;
}

.btn:hover {
    transform: translate(2px, -2px);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
}

input {
    margin: 2.5vw;
    width: 85vw !important;
}

input::placeholder {
    font-size: 1.2rem;
    font-weight: 500;
}